<div class="jumbotron">
	This is a sample project demonstrating creation of two interfaces Admin and User.Admin will be able to see his transactions and payback scores of other users.
	Please <%= link_to "login", new_user_session_path %> to continue.
</div>
<div id="notice" style="float:right"><%= notice %></div>
